@keyframes slide-in {
	from {
		transform: translatey(1100px);
		height: 1px;
		width: 1px;
		opacity: 0;
		z-index: -1;
	}
}
form {
	color: black;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	height: 500px;
	width: 400px;
	padding: 20px 40px;
	justify-content: space-around;
	box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.411);
	border-radius: 4px;
	background: rgb(228, 228, 228);
	transform: translateX(0);
	animation-name: slide-in;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	opacity: 1;
	z-index: 1;
	input {
		padding: 0.5rem;
		height: 2rem;
		border: none;
		border-radius: 4px;
		box-shadow: 2px 2px 10px rgba(209, 209, 209, 0.562);
		transition: 0.5s ease;
		&:focus {
			border: none;
			outline: none;
			width: 90%;
		}
	}
	button {
		width: 30%;
		height: 2rem;
		margin: 0 auto;
		padding: 0.4rem;
		border: none;
		background: rgb(110, 168, 223);
		color: white;
		border-radius: 4px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size: 12pt;
		cursor: pointer;
		transition: 0.3s ease;
		&:hover {
			background: rgb(168, 208, 245);
			.font-icon {
				font-size: 18px;
				opacity: 1;
			}
		}
	}
}
label {
	color: rgb(160, 160, 160);
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	&::after {
		content: ':';
	}
}

.section {
	display: grid;
	grid-template-columns: 30% 70%;
}

.font-icon {
	color: white;
	opacity: 0.7;
	transition: 0.4s ease;
}
.login-container,
.register-container {
	display: flex;
	flex-direction: column;
}

.portal-query {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
	padding-bottom: 1rem;
	a {
		color: rgb(116, 116, 196);
	}
}
